main {
  padding: 4rem;
  min-height: calc(100vh - 3vh);
  line-height: 1.5;
  align-items: center;
  text-align: center;

  @include respond(tab-port) {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1.3;
      margin-bottom: 1rem;
     }
  }

  @include respond(tab-land) {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1.3;
      margin-bottom: 1rem;
     }
  }

  &#home {
      display: flex;           /* establish flex container */
      flex-direction: column;  /* make main axis vertical */
      justify-content: center; /* center items vertically, in this case */
      align-content: center;     /* center items horizontally, in this case */
      // height: 100vh;
      // overflow: hidden;
        h1 {
            font-size: 10.5rem;
            animation-name: moveInLeft;
            animation-duration: 1.5s;
            animation-timing-function: ease-out;

            @include respond(tab-port) {
              font-size: 8rem;    
            }

           @include respond(tab-land) {
            font-size: 7.5rem;    
            }

            @include respond(phone) {
              font-size: 7rem;    
            }
        }
        h2 {
            font-size: 1.8em;
            animation: moveInRight 1.5s ease-out;
            margin-bottom: 3rem;
        }
  } 
} 

.about-info {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
  'bioimage bio bio'
  'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); 

  @include respond(tab-port){
      grid-template-areas:
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
      grid-template-columns: 1fr;
  }

  .bio-img {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      border: $secondary-color 5px solid;
      height: 260px;
      width: 260px;
  }
  
  .bio {
      grid-area: bio;
      font-size: 1.5rem;
      letter-spacing: 5.5px;
      margin-bottom: 1rem;
      padding: 1.2rem;
      background-color: rgba($primary-color-dark, 0.1);
  }
  
  .job-1 {
      grid-area: job1;
  }
  
  .job-2 {
      grid-area: job2;

      // #chart2 {
      //   height: 22rem;
      //   width: 100%;
      // }
  }
  
  .job-3 {
      grid-area: job3;

      // #chart3 {
      //   height: 22rem;
      //   width: 100%;
      // }
  }

  .job {
      background: lighten($primary-color, 5);
      padding: 0.2rem;
      border-bottom: $secondary-color 5px solid;
      align-items: left;
      text-align: left;
  }
}

//Work/Projects
.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.4rem;

    @include respond(big-desktop) {
      grid-template-columns: repeat(5, 1fr);
    }

    @include respond(tab-land) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }

    img {
        width: 100%;
        border: 3px #fff solid;
        height: 200px;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }

    a {
      text-align: center;
      font-size:1.5rem;
      font-weight: 500;
    }
}

.contact{
  padding: 0 !important;

  &-head {
    padding: 4rem;
    line-height: 1.5;
  }

  &-content {
    width: 100%;
    .form-box {
      background: transparent;
    }
  }

   form {
    max-width: 960px;
    margin: 0 auto;
   }

    form input,
    textarea,
    select,
    option {
      padding: 1rem;
      border: none;
      background: transparent;
      border-bottom: 2px solid #FFF;
      color: #FFF;
      outline: 0;
    }

    input#name, input#email, textarea#message{
      width: 100%;
      margin-top: 20px;

      &::placeholder{
        color: #FFF;
        opacity: 1;
      }
    }
     
   

  @include respond(tab-port) {
      form{
         width:80%;
      }
      input#firstname{
         margin: 0 !important;
         max-width: 100% !important;
      }
   }

   @include respond(phone) {
    form{
       width: 78%;
    }
    input#firstname{
       margin: 0 !important;
       max-width: 100% !important;
    }
 }


    &-info {
      background: darken($primary-color, 10);
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);     

     h2 {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
     } 

     &-d {
       display: grid;
       padding: 4rem;
       grid-gap: 1rem;
       width: 80%;
       margin: auto;

       @include respond(tab-land) {
        grid-gap: .5rem;
        padding: 2.8rem;
       }

       @include respond(phone) {
        border-bottom: rgba(#333, 0.1) solid 1px;
        padding: 1.2rem 1rem;
       }
   
     }

     @include respond(phone) {
      grid-template-columns: 1fr;
    
     }
     
    }

    &-projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;  
      text-align: center;
      background: $secondary-color;

      padding: 8rem;
    }

    &-h1 {
      font-size: 4rem;
    }
}
