body {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    /*font-size: 16px;*/
    line-height: 1.5;
    color: #fff;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 7rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 5), 0.4);
  }
}

a {
    color: #fff;
    text-decoration: none;
}
  
  .text-secondary {
    color: $secondary-color;
}

