 .chart{
   width: 90%;
   margin: 0 auto;

   h1 {
     text-align: center;
     margin-bottom: 1rem;
   }
 }
 @keyframes load{
   from {
     width: 0%
   }
 }
 
 .bar{
   background-color: #EEE;
   padding: 2px;
   border-radius: 15px;
   margin-bottom: 5px;
   font-size: 14px;
   color: #FFF;
   font-weight: bold;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
 }
 .bar::before{
   content:  attr(data-skill);
   background-color: #f3b0ff;
   background-color: darken(#0082c8, 10);
   display: inline-block;
   padding: 5px 0 5px 10px;
   border-radius: inherit;
   animation: load 2s 0s;
 }
 .bar::after{
  content:  attr(data-percent);
  color: darken(#FFF, 50%);
  font-size: xx-small;
  padding: 2px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
 
 .bar.front::before{
  //  background-color: #ffcc33;
 }
 .bar.back::before{
  //  background-color: #a6cfe3;
 }
 
//  Skill
 .bar.html::before{
   width: calc(85% - 10px);
 }
 .bar.css::before{
   width: calc(84% - 10px);
  //  background: MediumSpringGreen;
 }
 .bar.js::before{
   width: calc(83% - 10px);
 }
 .bar.php::before{
   width: calc(60% - 10px);
 }

//  Javascript
.bar.Node::before{
  width: calc(80% - 10px);
  // background-color: RoyalBlue;
}
.bar.react::before{
  width: calc(75% - 10px);
  // background-color: Salmon ;
}
.bar.redux::before{
  width: calc(70% - 10px);
  // background-color: SeaGreen;
}
.bar.VS::before{
  width: calc(80% - 10px);
  // background-color: SteelBlue;
}


// CSS
.bar.BS::before{
  width: calc(75% - 10px);
  // background-color: Thistle;
}
.bar.MC::before{
  width: calc(74% - 10px);
  // background-color: blueviolet;
}
.bar.SC::before{
  width: calc(70% - 10px);
  // background-color: deeppink;
}
.bar.SASS::before{
  width: calc(79% - 10px);
  // background-color: LightSlateGray;
}
 