// COLORS
$primary-color: #0082c8;
$primary-color-light: #2C409E;
$primary-color-dark: #192F95;

$secondary-color: #95D321;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$home-image-small: url(../img/background-small.jpg);
$background-opacity: 0.9;

// FONT
$default-font-size: 1.6rem;

